// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
//@import "foundation";
@import "foundation/variables"; // *always required
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/type";

@import "compass";

$topline-height: 7px;
$menu-bar-top-padding: 69px;

$default-horizontal-gap: $column-gutter + emCalc(16);

$default-padding: 23px;

$experimental-support-for-svg: true;

$color-research: #313089;
$color-development: #69358e;
$color-innovation: #dd301d;
$color-text: #55575e;

@font-face {
  font-family: "GeneralEnclosedFoundicons";
  src: url("fonts/general_enclosed_foundicons.eot");
  src: url("fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"),
       url("fonts/general_enclosed_foundicons.woff") format("woff"),
       url("fonts/general_enclosed_foundicons.ttf") format("truetype"),
       url("fonts/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SocialFoundicons";
  src: url("fonts/social_foundicons.eot");
  src: url("fonts/social_foundicons.eot?#iefix") format("embedded-opentype"),
       url("fonts/social_foundicons.woff") format("woff"),
       url("fonts/social_foundicons.ttf") format("truetype"),
       url("fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin roboto-font($weight: 400, $size: emCalc(20)) {
  font-family: 'Roboto', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin div-content($color) {
  h3 {
    color: $color;
    @include roboto-font(400, emCalc(20));
  }
  p {
    color: $color-text;
    @include roboto-font(300, emCalc(15));
    margin-bottom: 10px;
    line-height: emCalc(21);

    mark {
      color: $color;
      background-color: inherit;
    }
  }

  a {
    color: $color-text;
    &:hover {
      color: $color;
    }
  }

  ul {
    margin-bottom: 10px;

    li  {
      display: block;
      @include roboto-font(300, emCalc(15));
      list-style: none;
      margin-top: 12px;

      &:before {
        display: inline;
        content: "\2022";
        color: $color;
        padding-right: 11px;
      }

      mark {
        background-color: #ededf0;
        padding: 0 4px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &.twocolumns {
      li:nth-child(2n+1) {
        float: left;
      }
      li:nth-child(2n) {
        margin-left: 327px;
      }
      li:last-child:after {
        content: '';
        display: block;
        height: 10px;
      }
    }
  }

  ul.ornate {
    li {
      @include roboto-font(300, emCalc(15));
      $left-padding: 16px;
      padding: 6px 0 8px $left-padding;
      border-bottom: 1px dotted $color;
      text-indent: -$left-padding;
      margin-top: 2px;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  dl {
    line-height: emCalc(21);

    dt {
      display: inline;
      clear: left;
      @include roboto-font(700, emCalc(15));
      color: $color;

      &:after {
        content: ': ';
      }
    }

    dd {
      display: inline;
      @include roboto-font(300, emCalc(15));

      &:after {
        content: '';
        display: block;
        height: 10px;
      }
    }
  }
}

.topline {
  @include background(linear-gradient(30deg, #782b8f 0%, #782b8f 50%, #eb1c23 50%, #eb1c23 100%));
  background-color: #eb1c23;
  background-repeat: no-repeat;
  background-position: -104px 0;
  width: 100%;
  height: $topline-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

@mixin menu-link {
  text-transform: uppercase;
  text-decoration: none;
  @include roboto-font(400, emCalc(15));
  @include transition-property(color);
  @include transition-duration(300ms);

  &:hover {
    color: #eb1c23;
  }
}

#menubar {
  $menubar-height: 144px;
  position: fixed;
  height: $menubar-height;
  width: 100%;
  top: $topline-height;

  @include background-image(linear-gradient(top, #fff 0%, #fff 70%, #ededed 100%));

  z-index: 99;
  background-color: #2ba6cb;

  .row {
    height: 100%;

    .logo {
      height: 100%;
      display: table;

      a {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-left: 8px;

        img {
          width: auto;
          height: auto;
          max-height: $menubar-height;
        }
      }
    }

    .menu {
      height: 100%;
      display: table;
      z-index: 102;

      span {
        display: table-cell;
        vertical-align: middle;

        a {
          @include menu-link;
          color: $color-text;
        }
      }
    }
  }

  #language-selector {
    position: absolute;
    display: table;
    right: 0;
    top: 0;
    text-align: right;
    height: 100%;
    width: 90px;
    z-index: 101;

    a {
      @include menu-link;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #7d7f86;

      span {
        display: inline-block;
        width: 100%;
        padding: 7px 0;
        background-color: #f0f1f7;
      }
    }
  }
}

.slogen {
  margin-top: 151px;
  height: 241px;
  @include background(url('images/slogenbg2.png'), linear-gradient(90deg, #e32428 0%, #e32428 50%, #622479 50%, #622479 100%));
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  position: relative;
  overflow: hidden;

  .columns {
    padding-left: 14px;

    h1 {
      position: absolute;
      color: #fff;
      @include roboto-font(300, emCalc(38));
      top: 46px;
      left: 13px;
      margin: 0;
      padding: 0 8px;
      background-color: rgba(47, 34, 110, .6);
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    }
    p {
      position: absolute;
      color: white;
      line-height: emCalc(24);

      top: 120px;
      left: 13px;
      margin: 0;

      span {
        display: inline-block;
        background-color: rgba(47, 34, 110, .6);
        padding: 0 8px;
        @include roboto-font(300, emCalc(19));
        color: #e8e8fe;

        strong {
          color: #fff;
          font-weight: inherit;
        }

        em {
          color: #b1b1ee;
          font-weight: inherit;
          font-style: normal;
        }
      }
    }
  }
}

.gear {
  //@include background(linear-gradient(30deg, #f5f5f7 0%, #f5f5f7 50%, #fff 50%, #fff 100%));
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: -859px 0;
  //height: 426px;
  //height: 824px;

  > .row {
    > div:first-child {
      padding-right: 0;
      padding-left: 14px;
    }
  }

  .quotation {
    border-bottom: 1px solid #a4a8b4;
    height: 94px;
    position: relative;
    padding-left: 8px;

    .quotation-text {
      @include roboto-font(300, emCalc(24));
      position: absolute;
      bottom: 11px;
      line-height: emCalc(20);
      padding-right: 33px;

      &:before {
        content: '\201C';
        position: absolute;
        right: 100%;
      }

      &:after {
        content: '\201D';
      }
    }

    .quotation-author {
      @include roboto-font(400, emCalc(20));
      position: absolute;
      bottom: 14px;
      right: 33px;
      font-size: emCalc(15);
    }

    .research {
      color: $color-research;
    }
    .development {
      color: $color-development;
    }
    .innovation {
      color: $color-innovation;
    }
  }

  .division-content {
    padding-top: 22px;
    padding-left: 8px;
    padding-right: 26px;

    .research {
      @include div-content($color-research);
    }

    .development {
      @include div-content($color-development);
    }

    .innovation {
      @include div-content($color-innovation);
    }
  }

  .disc {
    padding-top: 46px;
    padding-left: 0;

    #pizzasvg {
      margin-left: 18px;
    }

    .division-aside {
      margin-top: 7px;
      padding: 18px;

      .research {
        @include div-content($color-research);
      }

      .development {
        @include div-content($color-development);
      }

      .innovation {
        @include div-content($color-innovation);
      }
    }
  }
}

.products {
  background-color: #ededf0;

  .product-boxes {
    padding-bottom: $default-horizontal-gap;

    .row {
      padding-top: $default-horizontal-gap;

      > div:first-child {
        padding-right: ($column-gutter / 2) + emCalc(15);
      }
      > div:last-child {
        padding-left: ($column-gutter / 2) + emCalc(15);
      }

      .box {
        height: 202px;
        color: #fff;
        overflow: hidden;
        position: relative;

        h2 {
          background-color: #fff;
          margin: 0;
          height: 75px;
          line-height: 75px;
          overflow: hidden;
          @include roboto-font(300, emCalc(19));
          text-transform: uppercase;
          word-wrap: normal;
          color: $color-text;
          text-align: right;
          padding: 0 $default-padding;

          span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
          }
        }

        p {
          border-top: 6px solid rgba(255, 255, 255, .2);
          margin: 0;
          padding: $default-padding;
          padding-top: $default-padding - 6px;
          @include roboto-font(300, emCalc(15));
          line-height: emCalc(20);
          text-align: justify;
        }

        span.more {
          position: absolute;
          right: 0;
          bottom: 0;
          @include roboto-font(300, emCalc(25));
          width: 50px;
          height: 30px;
          text-align: right;
          padding-top: 6px;
          padding-right: 4px;
          background: url('images/more-corner.png');
          background-position: bottom right;
          background-repeat: no-repeat;

          a {
            color: #fff;
          }
        }
      }

      .thedox {
        background-color: $color-innovation;

        h2 {
          background-image: url('images/logo-thedox.png');
          background-repeat: no-repeat;
        }
      }

      .fieldback {
        background-color: $color-research;

        h2 {
          background-image: url('images/logo-fieldback.png');
          background-repeat: no-repeat;
        }
      }

      .grafight {
        background-color: $color-development;

        h2 {
          background-image: url('images/logo-grafight.png');
          background-repeat: no-repeat;
        }
      }

      .foundryboxlive {
        background-color: #66666f;

        h2 {
          background-image: url('images/logo-foundryboxlive.png');
          background-repeat: no-repeat;
        }
      }
    }
  }

  .product {

    .title {
      $title-height: 117px;
      height: $title-height;
      background-color: $color-innovation;

      h2 {
        display: table;
        height: $title-height;
        line-height: $title-height;
        margin: 0;
        @include roboto-font(300, emCalc(35));
        padding-left: $default-padding;

        span {
          display: table-cell;
          height: $title-height;
          width: 100%;
          line-height: normal;
          vertical-align: middle;
          text-align: left;
          color: #fff;
        }
      }
    }

    .seal {
      height: 182px;
      @include background(linear-gradient(180deg, #d5d5dd 0%, #e3e3e9 100%));

      .row>.columns:first-child {
        padding-left: $default-padding;
        padding-top: 9px;
      }

      blockquote {
        @include roboto-font(300, 24px);
        line-height: 31px;
        color: $color-text;
        text-align: right;
        padding: 57px 0 0 0;
        margin: 0;

        footer {
          font-size: 15px;
        }
      }
    }

    .figure {
      background-color: #eaeaef;

      .row>.columns:nth-child(2) {
        text-align: right;
        padding-top: 16px;
      }

      .content {
        padding-top: 50px;
        @include div-content($color-development);
      }
    }
  }
}

.references {
  background-color: #dd2f1d;
  $title-height: 56px;

  .title {
    background-color: #d1191d;
    height: $title-height;
    line-height: $title-height;
    vertical-align: middle;

    h2 {
      @include roboto-font(300, emCalc(24));
      display: inline-block;
      line-height: normal;
      color: #fff;
      margin: 0;
      padding: 0 $default-padding;
    }
  }

  .logos {
    $logos-height: 164px;
    $logos-padding-top: 27px;
    height: $logos-height;

    #reference-items {
      overflow: hidden;

      ul {
        display: inline-block;
        white-space: nowrap;
        height: $logos-height;
        margin: 0;
        list-style: none;
        word-spacing: emCalc(-5);
        padding-top: $logos-padding-top;

        li {
          display: inline-block;
          width: 100px;
          height: 100px;
          background-color: #fff;
          vertical-align: top;
          word-spacing: 0;
          margin-left: $column-gutter;
          @include border-radius(50px);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-color: #fff;
          @include transition-property(box-shadow);
          @include transition-duration(300ms);

          &:hover {
            @include box-shadow($color-development 0 0 0 5px);

            span {
              display: block;
              position: absolute;
              top: -$title-height;
              text-align: center;
              left: 50%;
              margin-left: -50%;
              @include roboto-font(400, emCalc(15));
              color: #fff;
              width: 100%;
              height: $title-height;
              background-color: green;
            }
          }

          span {
            display: none;
          }
        }

        li:first-child {
          margin-left: 0;
        }
      }
    }

    .arrow-left {
      padding-top: $logos-padding-top;
    }

    .arrow-right {
      padding-top: $logos-padding-top;
      text-align: right;
    }
  }
}

$contact-height: 264px;

.contact {
  @include background(linear-gradient(30deg, #ceced6 0%, #ceced6 50%, #d8d8e0 50%, #d8d8e0 100%));
  background-color: #ceced6;
  background-repeat: no-repeat;
  background-position: 499px 0;
  height: $contact-height;


  .contact-info {
    @include roboto-font(400, emCalc(15));
    color: $color-text;
    padding-top: 46px;
    padding-left: 25px;
    line-height: emCalc(21);

    .company-name {
      font-size: emCalc(19);
      color: $color-development;
    }

    a.email {
      color: #dd2f1d;
    }
  }
}

.footer {
  @include background(linear-gradient(30deg, #0a1159 0%, #0a1159 50%, #121a6b 50%, #121a6b 100%));
  background-color: #121a6b;
  background-repeat: no-repeat;
  background-position: -233px 0;
  $footer-height: 181px;
  height: $footer-height;

  .social {
    padding-top: 49px;

    %footer-link {
      display: inline-table;
      height: 39px;
      line-height: 39px;
      margin-right: 16px;
      vertical-align: top;

      span {
        display: table-cell;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
        color: rgba(255, 255, 255, .5);
        @include transition-property(color);
        @include transition-duration(300ms);

        &:hover {
          color: #fff;
        }
      }
    }

    a.share {
      @extend %footer-link;
      width: 39px;
      background-color: #283080;

      span {
        font-family: 'SocialFoundicons';
        font-size: emCalc(33);
      }
    }

    a.tech {
      @extend %footer-link;

      span {
        @include roboto-font(300, emCalc(16));
        text-transform: uppercase;
      }
    }
  }

  .copyright {
    height: $footer-height;
    @include roboto-font(400, emCalc(12));
    color: #a19ec2;
    padding-top: 158px;
    padding-left: 25px;
  }
}

#gmaps {
  height: $contact-height;

  img {
    max-width: none;
  }
}

#slogen-title-1,
#slogen-description-1 {
  display: block;
}

#slogen-title-2,
#slogen-description-2 {
  display: none;
}

#slogen-title-3,
#slogen-description-3 {
  display: none;
}

#ref-tesco {
  background-image: url('images/reflogo-tesco.png');
}
#ref-vodafone {
  background-image: url('images/reflogo-vodafone.png');
}
#ref-inmedio {
  background-image: url('images/reflogo-inmedio.png');
}
#ref-mondiamedia {
  background-image: url('images/reflogo-mondiamedia.png');
}
#ref-mnb {
  background-image: url('images/reflogo-mnb.png');
}
#ref-ppp {
  background-image: url('images/reflogo-ppp.png');
}
#ref-mtv {
  background-image: url('images/reflogo-mtv.png');
}
#ref-dm {
  background-image: url('images/reflogo-dm.png');
}
#ref-o2 {
  background-image: url('images/reflogo-o2.png');
}
#ref-hemmersbach {
  background-image: url('images/reflogo-hemmersbach.png');
}
#ref-relay {
  background-image: url('images/reflogo-relay.png');
}
#ref-szte {
  background-image: url('images/reflogo-szte.png');
}
#ref-telekomau {
  background-image: url('images/reflogo-telekomau.png');
}
#ref-drinfo {
  background-image: url('images/reflogo-drinfo.png');
}
#ref-kt {
  background-image: url('images/reflogo-kt.png');
}

.research {
}

.innovation {
  display: none;
}

.development {
  display: none;
}
