// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
//@import "foundation";
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/type";

@import "compass";

$topline-height: 7px;
$menu-bar-top-padding: 71px;

$default-horizontal-gap: $column-gutter + emCalc(16);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.topline {
  @include background(linear-gradient(30deg, #782b8f 0%, #782b8f 50%, #eb1c23 50%, #eb1c23 100%));
  background-color: #eb1c23;
  background-repeat: no-repeat;
  background-position: -104px 0;
  height: $topline-height;
}

@mixin menu-link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: emCalc(15);
}

.menubar {
  height: 144px;

  .logo {
    padding-top: 36px;
    padding-left: 14px;
  }
  .menu {
    text-align: right;
    padding-top: $menu-bar-top-padding;

    a {
      @include menu-link;
      color: #55575e;
    }
  }
}

.slogen {
  height: 241px;
  @include background(url('images/slogenbg2.png'), linear-gradient(90deg, #e32428 0%, #e32428 50%, #622479 50%, #622479 100%));
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;

  .columns {
    padding-left: 14px;

    h1 {
      color: #e8e8fe;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: emCalc(29);
      margin-top: 55px;
      margin-bottom: 0;
      padding: 0 8px;
      background-color: rgba(47, 34, 110, .6);
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    }
    p {
      color: white;
      line-height: emCalc(23);
      margin-top: 29px;

      span {
        background-color: rgba(47, 34, 110, .6);
        padding: 1px 8px;
        font-size: emCalc(17);
        font-weight: 300;
        color: #e8e8fe;
      }
    }
  }
}

.gear {
  @include background(linear-gradient(30deg, #f5f5f7 0%, #f5f5f7 50%, #fff 50%, #fff 100%));
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: -859px 0;
  height: 426px;

  > .row {
    > div:first-child {
      padding-right: 0;
      padding-left: 14px;
    }
  }

  .quotation {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: emCalc(18);
    border-bottom: 1px solid #a4a8b4;
    height: 94px;
    color: #55575e;
    position: relative;
    padding-left: 8px;

    .quotation-text {
      position: absolute;
      bottom: 10px;
      line-height: emCalc(25);
      color: #313089;
      padding-right: 33px;

      &:before {
        content: '\201C';
        position: absolute;
        right: 100%;
      }

      &:after {
        content: '\201D';
      }
    }

    .quotation-author {
      position: absolute;
      bottom: 16px;
      right: 33px;
      color: #313089;
      font-size: emCalc(15);
    }
  }

  .disc {
    padding-top: 46px;
    padding-left: 0;
    img {
      margin-left: -1px;
    }
  }
}

.division-content {
  padding-top: 26px;
  padding-left: 8px;
  padding-right: 26px;

  p {
    color: #55575e;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: emCalc(15);
    margin-bottom: 10px;
    line-height: emCalc(20);
  }
}

.content {
  $default-padding: 23px;

  background-color: #ededf0;
  padding-bottom: $default-horizontal-gap;

  .row {
    padding-top: $default-horizontal-gap;

    > div:first-child {
      padding-right: ($column-gutter / 2) + emCalc(15);
    }
    > div:last-child {
      padding-left: ($column-gutter / 2) + emCalc(15);
    }

    .product {
      height: 202px;
      color: #fff;
      overflow: hidden;
      position: relative;

      h2 {
        background-color: #fff;
        margin: 0;
        height: 75px;
        line-height: 75px;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: emCalc(20);
        text-transform: uppercase;
        word-wrap: normal;
        color: #55575e;
        text-align: right;
        padding: 0 $default-padding;

        span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
        }
      }

      p {
        border-top: 6px solid rgba(255, 255, 255, .2);
        margin: 0;
        padding: $default-padding;
        padding-top: $default-padding - 6px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: emCalc(15);
        line-height: emCalc(20);
        text-align: justify;
      }

      span.more {
        position: absolute;
        right: 0;
        bottom: 0;
        font-family: 'Roboto', sans-serif;
        font-size: emCalc(25);
        font-weight: 300;
        width: 50px;
        height: 30px;
        text-align: right;
        padding-top: 6px;
        padding-right: 4px;
        background: url('images/more-corner.png');
        background-position: bottom right;
        background-repeat: no-repeat;

        a {
          color: #fff;
        }
      }
    }
  }
}

.contact {
  @include background(linear-gradient(30deg, #ceced6 0%, #ceced6 50%, #d8d8e0 50%, #d8d8e0 100%));
  background-color: #ceced6;
  background-repeat: no-repeat;
  background-position: 499px 0;
  height: 266px;

  .contact-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: emCalc(14);
    color: #55575e;
    padding-top: 69px;
    padding-left: 25px;
    line-height: emCalc(19);

    .company-name {
      font-size: emCalc(18);
    }
  }
}

.footer {
  @include background(linear-gradient(30deg, #0a1159 0%, #0a1159 50%, #121a6b 50%, #121a6b 100%));
  background-color: #121a6b;
  background-repeat: no-repeat;
  background-position: -233px 0;
  height: 181px;

  $social-icon-padding: emCalc(3);

  .social {
    padding-top: $column-gutter + $social-icon-padding + emCalc(16);
    padding-left: 0;

    a.share {
      font-family: 'icomoon';
      font-size: 23px;
      color: #fff;
      background-color: rgba(116, 107, 192, .6);
      padding: $social-icon-padding;
      margin-right: 16px;
    }

    a.tech {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: emCalc(16);
      color: #fff;
      text-transform: uppercase;
      margin-right: 16px;
      vertical-align: top;
      display: inline-block;
      position: relative;
      top: -6px;
    }
  }

  .copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: emCalc(12);
    color: #a19ec2;
    padding-top: $default-horizontal-gap;
    padding-left: 25px;
  }
}

#gmaps {
  height: 266px;

  img {
    max-width: none;
  }
}

$language-selector-vpadding: 7px;

#language-selector {
  position: absolute;
  display: block;
  right: 0;
  top: $topline-height + $menu-bar-top-padding - $language-selector-vpadding;
  padding: $language-selector-vpadding 12px;
  background-color: #dfe0e8;

  a {
    @include menu-link;
    color: #7d7f86;
  }
}

#thedox {
  background-color: #dd2f1d;

  h2 {
    background-image: url('images/logo-thedox.png');
    background-repeat: no-repeat;
  }
}

#fieldback {
  background-color: #302f88;

  h2 {
    background-image: url('images/logo-fieldback.png');
    background-repeat: no-repeat;
  }
}

#grafight {
  background-color: #69358e;

  h2 {
    background-image: url('images/logo-grafight.png');
    background-repeat: no-repeat;
  }
}

#foundryboxlive {
  background-color: #66666f;

  h2 {
    background-image: url('images/logo-foundryboxlive.png');
    background-repeat: no-repeat;
  }
}
